{% extends "base.html" %}
{% block content %}

<h3 style="text-align: center;color: #ffffff;
        font-weight: bold;background: rgba(0,0,0,0.5);
        text-shadow: 0 0 5px #ffffff;">Hi all, This is my complete biodata</h3>
	<br><br>
	<table align="center" style="text-align: center;font-size: 30px;">
	    {% for bio in bio_dict %}
	        <tr>
	            <td class="subject">{{ bio.subject }}</td>
	            <td class="value">{{ bio.value }}</td>
	        </tr>
	    {% endfor %}
	</table>
	<br><br>
{% endblock %}